//Colors Scheme
$white:#fff;
$platinium:#e6e7e7;
$light-gray:#d1d1d1;
$fuzzy-wuzzy:#e56353;
$ruddy-pink:#d76c69;
$spanish-pink: #ecbcba;
$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6c6e70;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small:12px;
$icon-size:45px;

// Font Weight
$font-1:'Roboto', sans-serif;
$font-2:'Playfair Display', serif;
$font-regular: 400;
$font-ligth: 300;
$font-black: 900;




$breakpoint-lg: 992px;



