.pagination{
  background: $light-gray;
  padding: 2rem 1rem;
  text-align: center;
  &__nav{
    margin: auto;

    ul{
      margin: 0;
    }
  }
}

.pagination .page-item .pagination__link{
  color:$eerie-black;
  font-weight: bold;


  &--prev{
    border-radius: 44rem 0 0 44rem;
    color:$nickel;
    font-weight:$font-regular;
  }
  &--next{
    border-radius: 0 40px 40px 0;

  }
  &--active{
    color:$white;
    background:$eerie-black;
  }
}